:root {
  --story-bg: #030021;
  --story-progress-bg: rgba(255, 255, 255, 0.4);
  --story-progress-fill: white;
  --story-icon-color: #f7f7f7;
  --story-username-color: #f7f7f7;
  --story-subtext-color: #f7f7f7;
}

$breakpoint-tablet: 768px;
